<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="clear_data" value="NEVER"/>
    <booleanAttribute key="consoleEnabled" value="true"/>
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.5.ee"/>
    <stringAttribute key="maven.command.line" value=""/>
    <booleanAttribute key="maven.snapshot.updates" value="false"/>
    <stringAttribute key="mule-agent-port" value="61425"/>
    <stringAttribute key="mule-agent-token-auth" value="d066ef29-14e7-4403-9f01-62ada82fcf7b"/>
    <listAttribute key="mule-project-names">
        <listEntry value="sf-synchro-papi"/>
        <listEntry value="salesforce-france-sapi"/>
        <listEntry value="salesforce-global-sapi"/>
    </listAttribute>
    <intAttribute key="mule.debug.payload.max.collection.size" value="100"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/salesforce-global-sapi"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-M-Danypoint.platform.gatekeeper=disabled"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="salesforce-global-sapi"/>
    <intAttribute key="remote-debug-max-stream-size" value="2"/>
    <intAttribute key="remote-debug-port" value="6666"/>
    <booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
