<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="clear_data" value="PROMPT"/>
    <booleanAttribute key="consoleEnabled" value="true"/>
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.7.ee"/>
    <stringAttribute key="maven.command.line" value=""/>
    <booleanAttribute key="maven.snapshot.updates" value="false"/>
    <stringAttribute key="mule-agent-port" value="50830"/>
    <stringAttribute key="mule-agent-token-auth" value="51c926c3-d217-4220-8ac4-8b235036eef8"/>
    <listAttribute key="mule-project-names">
        <listEntry value="usergateway-xapi"/>
    </listAttribute>
    <intAttribute key="mule.debug.payload.max.collection.size" value="100"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-Danypoint.platform.gatekeeper=disabled -Xmx2048m"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="usergateway-xapi"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
    <intAttribute key="remote-debug-max-stream-size" value="2"/>
    <intAttribute key="remote-debug-port" value="6666"/>
    <booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
